<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="easibookConnectionString" connectionString="Data Source=localhost;Initial Catalog=Monkey_Business;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    
      <httpRuntime 
      executionTimeout="90" 
      maxRequestLength="65536" 
      useFullyQualifiedRedirectUrl="false" 
      minFreeThreads="8" 
      minLocalRequestFreeThreads="4" 
      appRequestQueueLimit="100" 
      enableVersionHeader="true"
      />
    </system.web>
</configuration>
